<h1>Detail Karyawan</h1><hr>

<ul>
    <li>Nama: <%= satuKaryawan[0].Nama  %></li>
    <li>NIP: <%= satuKaryawan[0].NIP  %></li>
    <li>Alamat: <%= satuKaryawan[0].Alamat %></li>
    <li>Jabatan: <%= satuKaryawan[0].nama_dept %> (<%= satuKaryawan[0].kode %>)</li>
    <li>Agama: <%= satuKaryawan[0].nama_agama %></li>
</ul>

<pre>
    <%= JSON.stringify(satuKaryawan, null, 4) %>
</pre>